.skills__imagen{
    height: 37px;
    margin-bottom: 0.5rem;
    transition: 1s;
}

.skills__imagen:hover{
    transform: scale(1.2);
}

@media (min-width: 768px) and (max-width: 991px) {
    .skills__imagen{
        height: 32px;
        object-fit: cover;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .skills__imagen{
        height: 37px;
    }
}