/*-----RAIZ-----*/

html{
    font-size: 10px;
}

/*-----CONTENEDOR-----*/

body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor {
    width: 95%;
    max-width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
}

/*-----HEADER-----*/

.caja-principal{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 0.5rem;
    box-sizing: border-box;
}

.caja-principal img{
    width: 20%;
    max-width: 32px;
}

.caja-principal h1{
    width: 80%;
    text-align: right;
    font-weight: bold;
    color: #047cb4;
}

/*-----CUERPO-----*/

/*Entrada*/
.caja-contenido{
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
}

.caja-entrada{
    width: 100%;
    min-height: 60vh;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.caja-entrada > #texto-entrada{
    width: 100%;
    min-height: 40vh;
    font-size: 1.6rem;
    background-color: #F3F5FC;
    border: #047cb4 0.02rem solid;
    outline: none;
    color: #047cb4;
    text-transform: lowercase;
    resize: none;
}

.caja-entrada .advertencia{
    width: 100%;
    font-size: 1rem;
    padding: 1.2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}

/*Icono de advertencia*/

.advertencia .circulo{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: #047cb4 ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem  0.2rem lightgray;
}

.advertencia .circulo h2{
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*Texto de advertencia*/
.caja-entrada .advertencia .letra{
    padding-left: 0.8rem;
    font-weight:bold;
}

/*Botones*/

.botones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botones #btn-encriptar, .botones #btn-desencriptar, .botones #btn-limpiar{
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    border: #047cb4 solid;
    margin-bottom: 1.2rem;
    padding: 1rem;
}

.botones #btn-encriptar{
    background-color: #047cb4;
    color: white;
}

.botones #btn-desencriptar{
    color: #047cb4 ;
    background-color: white;
}

.botones #btn-limpiar{
    color: #047cb4 ;
    background-color: white;
}

.botones #btn-encriptar:active{
    background-color: #015175  ;
    color: white;
    font-size: 1.7rem;
}

.botones #btn-desencriptar:active{
    background-color: #f3f3f4d6;
    color: #047cb4 ;
    font-size: 1.7rem;
}

.botones #btn-limpiar:active{
    background-color: #f3f3f4d6;
    color: #047cb4 ;
    font-size: 1.7rem;
}


/*Salida*/

.caja-salida{
    width: 100%;
    min-height: 60vh;
    background-color: #047cb4 ;
    padding: 0.5rem;
    margin: 3rem 0;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 1rem 0.5rem lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-salida #ocultar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.caja-salida .mensaje{
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    color: white;
}

.caja-salida .mensaje2{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 2rem 6rem;
    color: white;
}

.caja-salida img{
    max-width: 30%;
    object-fit: cover;
    align-self: center;
    padding: 2rem 0;
}

.caja-salida > #texto-salida{
    width: 100%;
    min-height: 40vh;
    font-size: 1.8rem;
    align-self: center;
    border: none;
    outline: none;
    background-color: #047cb4 ;
    color: white;
    margin-bottom: 1rem;
    text-transform: lowercase;
    display: none;
    resize: none;
}

#btn-copiar{
    display: none;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
    border: #047cb4  solid;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background: white;
    color: #047cb4 ;
}

#btn-copiar:active{
    background-color: #d3d3d5;
    color: #047cb4 ;
    font-size: 1.7rem;
}



/*-----FOOTER-----*/
footer{
    width: 100%;
    height: 5rem;
    background: linear-gradient(140deg, #000304 40%, #047cb4, #15b8de);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    padding: 1.5rem 0;
    margin-top: auto;
}

footer p + p{
    padding-top: 0.5rem;
    font-style: italic;
}

/*-----Alerta error-----*/

#alerta-error{
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.45);
    position: fixed;
    box-sizing: border-box;
    transition: 1.4s;
}

#alerta-error .contenido-alerta-error{
    width: 20rem;
    height: 20rem;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    background-color: white ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.contenido-alerta-error img{
    width: 10rem;
    object-fit:cover;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 1rem;
}

.contenido-alerta-error .titulo-error{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: red;
    text-shadow: 0.5rem 0.4rem 0.5rem rgba(0,0,0,0.3)
}

.contenido-alerta-error .mensaje-error{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

/*-----Alerta copiar-----*/

#alerta-copiar{
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(4, 124, 180, 0.45);
    position: fixed;
    box-sizing: border-box;
    transition: 1.4s;
}

#alerta-copiar .contenido-alerta-copiar{
    width: 20rem;
    height: 20rem;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    background-color: white ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.contenido-alerta-copiar img{
    width: 13rem;
    object-fit:cover;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 1rem;
}

.contenido-alerta-copiar .titulo-copiar{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #047cb4;
    text-shadow: 0.5rem 0.4rem 0.5rem rgba(0,0,0,0.3)
}

.contenido-alerta-copiar .mensaje-copiar{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}






/*/////MEDIA QUERIES/////*/

/*-----Responsividad para dispositivos +720px-----*/
@media screen and (min-width: 720px) {

    /*-----HEADER-----*/
    .caja-principal img{
        max-width: 50px;
    }
    
    .caja-principal h1{
        font-size: 1.5rem;
    }

    /*------CUERPO-----*/
    
    /*Entrada*/

    .caja-entrada > #texto-entrada{
        width: 100%;
        min-height: 40vh;
        font-size: 1.8rem;
        background-color: #F3F5FC;
        border: #047cb4  0.02rem solid;
        outline: none;
        color: #047cb4 ;
    }

    .caja-entrada .advertencia{
        width: 100%;
        font-size: 1.2rem;
        padding: 1.2rem 0;
        display: flex;
        align-items: center;
    }

    /*Icono de advertencia*/

    .advertencia .circulo{
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background: #047cb4;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0.2rem 0.2rem  0.2rem lightgray;
    }

    .advertencia .circulo h2{
        color: white;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    /*Texto de advertencia*/
    .caja-entrada .advertencia .letra{
        padding-left: 0.8rem;
        font-weight: bold;
    }

    /*Botones*/

    .botones{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .botones #btn-encriptar, .botones #btn-desencriptar, .botones #btn-limpiar{
        width: 40%;
        font-size: 1.5rem;
        margin: 1rem;
    }

    .botones #btn-encriptar{
        background-color: #047cb4 ;
        color: white;
    }


    .caja-contenido .caja-salida{
        padding: 0 1.5rem 0 1.5rem;
        box-sizing: border-box;
        display: flex;
    }

    #btn-copiar{
        width: 40%;
        align-self: center;
    }

    /*-----Alerta Error-----*/

    #alerta-error .contenido-alerta-error{
        width: 30rem;
        height: 30rem;
        padding: 1.5rem;
    }

    .contenido-alerta-error img{
        width: 15rem;
        padding: 1rem;
    }

    .contenido-alerta-error .titulo-error{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    .contenido-alerta-error .mensaje-error{
        text-align: center;
        font-size: 1.4rem;
        font-weight:600;
    }

    /*-----Alerta Copiar-----*/

    #alerta-copiar .contenido-alerta-copiar{
        width: 30rem;
        height: 30rem;
        padding: 1.5rem;
    }

    .contenido-alerta-copiar img{
        width: 15rem;
        padding: 1rem;
    }

    .contenido-alerta-copiar .titulo-copiar{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    .contenido-alerta-copiar .mensaje-copiar{
        text-align: center;
        font-size: 1.5rem;
        font-weight:600;
    }
}

/*-----Responsividad para dispositivos +900px-----*/
@media screen and (min-width: 900px) {

    /*-----HEADER-----*/
    .caja-principal{
        height: auto;
    }

     .caja-principal img{
        max-width: 80px;
    }
    
    .caja-principal h1{
        font-size: 2rem;
        font-weight: bold;
    }

    /*Contenido*/
    .caja-contenido{
        width: 100%;
        display: flex;
        justify-content:flex-start;
        box-sizing: border-box;
        padding: 2rem 0;

    }

    /*Entrada*/
    .caja-contenido .caja-entrada{
        width: 65%;
        min-height: 60vh;
        margin: 0 1.5rem 0 0 ;
        padding: 0;
        box-sizing: border-box;
    }

    .caja-entrada > #texto-entrada{
        width: 100%;
        min-height: 55vh;
        font-size: 1.8rem;
    }
    
    .caja-entrada .advertencia{
        width: 100%;
        font-size: 1.2rem;
        padding: 0.2rem 0 0 0;
        margin: auto 0 1rem 0;
    }

    .botones{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: end;
    }
    
    .botones #btn-encriptar, .botones #btn-desencriptar, .botones #btn-limpiar{
        width: 30%;
        margin: 0 1rem 0 1rem;
    }
    
    /*Salida*/
    .caja-contenido .caja-salida{
        width: 35%;
        min-height: 60vh;
        margin: 0;
        padding: 0 1.5rem 0 1.5rem;
        box-sizing: border-box;
        display: flex;
    }

    .caja-salida #ocultar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
    }

    .caja-salida .mensaje{
        font-size: 2rem;
        padding: 2.5rem;
    }

    .caja-salida .mensaje2{
        font-size: 1.5rem;
        padding: 2rem;
    }
    
    .caja-salida img{
        max-width: 80%;
        margin: auto 0 1rem 0;

    }

    .caja-salida > #texto-salida{
        width: 100%;
        min-height: 55vh;
        margin-bottom: 1rem;
    }

    
    .caja-salida #btn-copiar{
        width: 80%;
        padding: 1rem;
        margin-top: auto;
    }

    /*-----Alerta Error-----*/

    #alerta-error .contenido-alerta-error{
        width: 40rem;
        height: 40rem;
        padding: 1.5rem;
    }
    
    .contenido-alerta-error img{
        width: 20rem;
        padding: 1rem;
    }
    
    .contenido-alerta-error .titulo-error{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 3rem;
        text-transform: uppercase;
    }
    
    .contenido-alerta-error .mensaje-error{
        text-align: center;
        font-size: 1.6rem;
        font-weight:600;
    }

    /*-----Alerta Copiar-----*/

    #alerta-copiar .contenido-alerta-copiar{
        width: 40rem;
        height: 40rem;
        padding: 1.5rem;
    }
    
    .contenido-alerta-copiar img{
        width: 20rem;
        padding: 1rem;
    }
    
    .contenido-alerta-copiar .titulo-copiar{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 3rem;
        text-transform: uppercase;
    }
    
    .contenido-alerta-copiar .mensaje-copiar{
        text-align: center;
        font-size: 1.6rem;
        font-weight:600;
    }

}
