.hobbies__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 176px;
    height: 174px;
    transition: 1.5s;
}

.hobbies__contenido:hover{
    background: var(--color-celeste-efecto);
}

@media (min-width: 768px) and (max-width: 991px) {
    .hobbies__contenido{
        width: 224px;
        height: 118px;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .hobbies__contenido{
        width: 145px;
        height: 118px;
    }
}