.perfil__imagen{
    border-radius: 100%;
    border: 2px solid rgba(255,255,255, 0.4);
    outline: 2px dashed rgba(0,0,0,0.5);
    max-width: 360px;
    transition: 1s;
    box-sizing: border-box;
}

.perfil__imagen:hover{
    transform: scale(0.8);
}

@media (min-width: 768px) and (max-width: 991px) {
    .perfil__imagen{
        max-width: 146px;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .perfil__imagen{
        max-width: 120px;
    }
}