.cabecera__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding:  2rem 0;
}

@media (min-width: 0) and (max-width: 991px) {
    .cabecera__logo{
        padding: 1rem 0;
    }
}