.proyectos__caja{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 2;
    margin-bottom: 4rem;
}

.proyectos__caja--final{
    margin-bottom: 0;
}


@media (min-width: 0) and (max-width: 991px) {
    .proyectos__caja{
        margin-bottom: 4rem;
        flex-direction: column;
    }
    
    .proyectos__caja--final{
        margin-bottom: 0;
        flex-direction: column;
    }
}

