#proyectos{
    background: var(--color-humo);
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10.556%;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    #proyectos{
        padding: 2rem 2rem;
        margin-bottom: 0;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    #proyectos{
        padding: 1rem 1rem;
        margin-bottom: 0;
    }
}