.proyectos__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 0) and (max-width: 991px) {
    .proyectos__contenido{
        align-items: center;
    }
}