.proyectos__btn--repositorio{
    background: var(--color-humo);
    color: #2A7AE4;
    padding: 1rem;
    border: 1px solid #2A7AE4;
    max-height: 51px;
    transition: 1s;
}

.proyectos__btn--demo{
    background: var(--color-azul-boton);
    color: var(--color-blanco);
    padding: 1rem;
    border: 1px solid #2A7AE4;
    max-height: 51px;
    transition: 1s;
}

.proyectos__btn:active{
    transform: scale(1.1);
}

@media (min-width: 0) and (max-width: 991px) {
    .proyectos__btn--repositorio{
        padding: 0.3rem 1rem;
        width: 96px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .proyectos__btn--demo{
        padding: 0.3rem 1rem;
        width: 96px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}